<%= form_with(model: author, local: true) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
        <% author.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :age %>
    <%= form.number_field :age, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :country_id %>
    <%= form.collection_select :country_id, Country.all(), :id, :name, { :prompt => 'Select country' }, {class: 'form-control'} %>
  </div>

  <div class="form-group mt-3">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
