
<div class="card px-3 py-3">
  <div class="row">
    <div class="col-10">
      <h1>Authors</h1>
    </div>

    <div class="col-2">
      <%= link_to 'New Author', new_author_path, class: 'btn btn-success' %>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Country</th>
        <th># Posts</th>
        <th colspan="3">Options</th>
      </tr>
    </thead>

    <tbody>
      <% @authors.each do |author| %>
        <tr>
          <td><%= link_to author.name, author_path(author) %></td>
          <td><%= author.age %></td>
          <td><%= author.country.name %></td>
          <td><%= link_to pluralize(author.posts.count,'Post'), authorPost_path(author) %></td>
          <td>
            <%= link_to 'Show', author, class: 'btn btn-info' %>
            <%= link_to 'Edit', edit_author_path(author), class: 'btn btn-primary' %>
            <%= link_to 'Delete', author, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
