<%= link_to 'Back', posts_path, class: 'btn btn-outline-secondary mb-4' %>

<h1>
  <%= @post.title %>
</h1>

<div class="text-muted"><%= @post.author.name %> | <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-sm btn-outline-primary' %></div>

<hr>

<div class="row">
  <div class="col">
    <p><%= @post.content %></p>
  </div>
</div>
